body {
    display: grid;
    margin: 0;
    padding: 0;
}

/*For Mobile*/
#IndexHello {
    width: 100%;
    min-height: 100vh;
    color: #ffffff;
    top: 0;
    left: 0;
    position: relative;
    align-content: center;
    display: grid;
}

#IndexDirectories {
    width: 100%;
    height: 100vh;
    color: #ffffff;
    display: grid;
    position: relative;
    grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
    padding: 0;
    margin: 0;
}

#resume {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#resume > iframe {
    width: 100%;
    height: 100%;
    z-index: 100;
}

h1 {
    font-size: 7em;
    font-weight: bold;
    text-align: center;
    margin: 15px;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.note {
    color: white;
    text-align: center;
    font-size: 2em;
    text-decoration: bold;
    width: 100%;
}

.directory-text {
    align-self: center;
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.0);
    z-index: 1;
    font-size: 3.5em;
    text-shadow: none;
    transition: 0.25s;
}

.directory-img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    display: block;
    opacity: 50%;
    object-fit: cover;
    transition: 0.25s;
}

.directory {
    position: relative;
    margin: 0;
    background-color: rgba(20, 30, 40, 0.5);
    display: grid;
    border: none;
    color: inherit;
}

.directory:hover {
    cursor: pointer;
}

.directory:hover > .directory-img {
    opacity: 100%;
}

.directory:hover > .directory-text {
    text-shadow: 0px 0px 50px rgba(0,0,0, 0.9);
}

/*For Tablet*/
@media only screen and (min-width: 768px) {
    .directory-text {
        font-size: 5rem;
    }
}

/*For Desktop*/
@media only screen and (min-width: 1300px) {
    h1 {
        font-size: 15em;
    }

    #IndexDirectories {
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
        grid-template-rows: none;
    }

    .directory-img {
        width: none;
        height: 100%;
    }
}

.skew {
    transform: skewX(10deg);
}

.anti-skew {
    transform: skewX(-10deg);
    z-index: 1;
}

.skew-compensation {
    margin-left: calc(-100vh * 0.09);
}